{
    "parser": "@typescript-eslint/parser",

    "env": {
        "browser": false,
        "node": true,
        "jest": true,
        "es6": true
    },

    "plugins": ["@typescript-eslint", "filenames"],

    "parserOptions": {
        "sourceType": "module",
        "project": ["./tsconfig.json", "./test/tsconfig.json"]
    },

    "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "eslint-config-prettier"
    ],

    "rules": {
        "filenames/match-exported": 0,
        "block-scoped-var": [0],
        "brace-style": [0, "stroustrup", { "allowSingleLine": true }]
    }
}
