{
    "basePath": "/",
    "info": {
        "title": "Simple API",
        "description": "This is the documentation of the Simple API.",
        "version": "1.0.0"
    },
    "paths": {
        "/simple": {
            "get": {
                "operationId": "getSimple",
                "tags": ["Simple name"],
                "description": "Get a simple item",
                "summary": "Get simple",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success."
                    }
                },
                "produces": ["application/json"],
                "consumes": ["application/json"],
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            },
            "options": {
                "operationId": "optionsSimple",
                "description": "cors support",
                "summary": "Options simple",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success."
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        }
    },
    "tags": [
        {
            "name": "Simple name",
            "description": "Simple description"
        }
    ],
    "schemes": ["https"],
    "produces": ["application/json"],
    "consumes": ["application/json"],
    "definitions": {
        "Simple": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "name": {
                    "type": "string"
                }
            },
            "xml": {
                "name": "Simple"
            }
        }
    },
    "swagger": "2.0",
    "host": "api.simple.com",
    "externalDocs": {
        "url": "https://api.simple.com"
    },
    "securityDefinitions": {
        "apiKey": {
            "type": "apiKey",
            "in": "header",
            "name": "Authorization"
        }
    }
}
