<html>
    <head>
        <title>{{title | capitalize }}</title>
    </head>
    <body>
        <h1>{{title | capitalize }}</h1>
        <h2>{{description}}</h2>
        <h3>version {{version}}</h3>
    </body>
</html>