<html>
    <head>
        <title>{{title | capitalize }} - {{operationGroupName | capitalize }}</title>
    </head>
    <body>
        <h1>{{operationGroupName | capitalize }}</h1>
        <h2>{{operationGroupDescription}}</h2>
    </body>
</html>